@import "../../index.scss";
.stayInfo {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    align-items: flex-start;
  }
  align-items: center;
  justify-content: space-between;
  padding-left: 9rem;
  padding-right: 4rem;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    &__stick {
      width: 0.5rem;
      height: 10rem;
      background-color: var(--color-primary-dark);
    }
    &__header {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 3rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }
      text-transform: uppercase;
      color: var(--color-grey-dark-2);
      margin-left: 2rem;
      font-weight: 900;
      letter-spacing: 0.3rem;
    }
  }
  &__header {
    color: var(--color-primary-dark);
    font-size: 2rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.6rem;
    }
    font-weight: 900;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
    &--sub {
      margin-bottom: 2rem;
      margin-left: 9rem;
      //margin-top: -5rem;
    }
  }
  &__head {
    //margin-bottom: 7.6vh;
    &__list {
      list-style: none;
      padding-left: 1.5rem;
      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        &__icon {
          color: var(--color-primary-dark);
          width: 2.6rem;
          height: 2.6rem;
          @media only screen and (max-width: $bp-medium) {
            width: 2.2rem;
            height: 2.2rem;
          }
          margin-right: 1.5rem;
          fill: currentColor;
          &:hover {
            color: var(--color-primary);
          }
        }
        &__header {
          //margin-bottom: 0.5rem;
          color: var(--color-grey-dark-2);
          font-weight: 700;
          font-size: 1.5rem;
          @media only screen and (max-width: $bp-medium) {
            font-size: 1.3rem;
          }
          font-family: Georgia, "Times New Roman", Times, serif;
          letter-spacing: 0.15rem;
        }
        &__text {
          color: var(--color-grey-dark-2);
          font-size: 1.4rem;
          @media only screen and (max-width: $bp-medium) {
            font-size: 1.2rem;
            width: 10rem;
          }
          @media only screen and (max-width: $bp-small) {
            font-size: 1.2rem;
            width: auto;
          }
          margin-left: 1rem;
        }
      }
    }
  }

  &__body {
    margin-top: 13rem;
    @media only screen and (max-width: $bp-small) {
      margin-top: 5rem;
    }
    &__link {
      margin-bottom: 1.7rem;
      margin-left: 1rem;
    }
    &__btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: $bp-medium) {
        justify-content: space-around;
      }
    }
    &__favorites {
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      width: 18rem;
      height: 4rem;

      border-radius: 1rem;
      border: 0.15rem solid var(--color-primary-dark);
      font-size: 1.3rem;
      cursor: pointer;
      margin-left: 1rem;
      &__icon {
        color: var(--color-white);
        width: 2rem;
        height: 2rem;
        @media only screen and (max-width: $bp-medium) {
          width: 1.8rem;
          height: 1.8rem;
          
        }
        margin-right: 1.3rem;
        fill: currentColor;
        &--link {
          fill: var(--color-grey-dark-2);
          width: 3rem;
          height: 3rem;
          @media only screen and (max-width: $bp-medium) {
            width: 2rem;
            height: 2rem;
          }
          &:hover {
            fill: var(--color-white);
          }
        }
      }
    }
    &__list {
      width: 40rem;
      height: 12rem;
      font-size: 1.4rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 1.2rem;
      }
      color: var(--color-grey-dark-2);
      //margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      overflow: overlay; //Behaves the same as auto, but with the scrollbars drawn on top of content instead of taking up space.
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        // to hide the scrollbar for chrome, safari, and safari
        display: none;
      }
    }
  }
}

.description {
  //margin-top: 3rem;
  &__text {
    margin-bottom: 2rem;
    margin-left: 9rem;
    color: var(--color-grey-dark-2);
    font-size: 1.4rem;
    width: 50vw;
  }
}

.features {
  &__list {
    margin-bottom: 2rem;
    margin-left: 9rem;
    color: var(--color-grey-dark-2);
    font-size: 1.4rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    @media only screen and (max-width: $bp-small) {
      width: 60vw;
    }

    &__item {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      &:before {
        content: "✓";
        margin-right: 1rem;
      }
    }
  }
}

.modal {
  position: absolute;
  width: 60vw;
  z-index: 100;
  display: block;
  align-items: center;
  margin-left: 20vw;

}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}