@import '../../../index.scss';
.launcher {
  //position: absolute;
  //top: 0;
  font-size: 1.4rem;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../../images/startingIntro.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 5rem;

  &__header {
    max-width: 114rem;
    
    margin: 0 11.3rem; //it must be margin: 0 auto to center but 0 11.3 is a trick to make the header responsive
    @media only screen and (max-width: $bp-small) {
      width: 95vw;
      margin: 0 1rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--color-primary-dark);

    &__logo {
      height: 10rem;
    }
    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      color: var(--color-white);

      &__element {
        padding: 1rem 0;
        color: var(--color-white);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        @media only screen and (max-width: $bp-medium) {
          font-size: 1.4rem;
        }
        @media only screen and (max-width: $bp-small) {
          font-size: 1.3rem;
        }
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        margin-left: 5rem;
        @media only screen and (max-width: $bp-large) {
          margin-left: 3rem;
        }
        @media only screen and (max-width: $bp-medium) {
          margin-left: 2rem;
        }
        &:hover {
          border-bottom: 2px solid var(--color-primary-dark);
        }
      }
    }
  }

  &__text-box {
    position: absolute;
    width: 114rem; //needs media query here
    @media only screen and (max-width: $bp-large) {
      width: 80rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 70rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 60rem;
    }
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
  }
}
